<!DOCTYPE html>
{% load static %}
<html lang='ko'>
    <head>
        <meta charset="UTF-8">
        <title>About CodeDiary18</title>
        <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'single_pages/css/aboutme.css' %}" media="screen">
        <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include 'blog/navbar.html' %}
        <section>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-8">
                        <h1>안녕하세요! Donggun 입니다~!</h1>
                        <h3>자기소개 페이지입니다</h3>
                    </div>
                    <div class="col-lg-4">
                        <img class="img-fluid" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxODEyMDNfMjM3%2FMDAxNTQzODM4OTkyNjcx.LT735Q8QT1Bg18vcIJB2OhZPiaORGRypUIrFG0wN0sEg.b8984wrcrKpcfypUKKBx7ZXPSTRtTDUYd1e_noxomKEg.JPEG.moonkynge%2F20181203_143100.jpg&type=sc960_832">
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light margin-for-footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>블로그를 만들면서 사용한 것</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card" data-toggle="modal" data-target="#pycon2017">
                            <img class="card-img-top" src="https://askcompanyjpe.blob.core.windows.net/media/askdjango/course/2017/03/06/49/4984ad9285ad40828156f6c3f4981e2c.jpg" height="300px">
                            <div class="card-body">
                                <h5 class="card-title">장고</h5>
                                <p>Django Framework</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card" data-toggle="modal" data-target="#inflearn_django2">
                            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" height="300px">
                            <div class="card-body">
                                <h5 class="card-title">파이썬</h5>
                                <p>Python</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card" data-toggle="modal" data-target="#automation_python">
                            <img class="card-img-top" src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fp2rPl%2FbtqNOJ5PIwr%2FfgTXlBnMiYdK3AoUg3zsdK%2Fimg.png" height="300px">
                            <div class="card-body">
                                <h5 class="card-title">html, css, js</h5>
                                <p>html과 css 그리고 javascript</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="fixed-bottom">
            {% include 'blog/footer.html' %}
        </div>
        <!--모달은 여기다 추가-->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    </body>
</html>